.img-responsive{
    margin-left: auto;
    margin-right: auto;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #ff00a4;
    background-color: #ff00a4;
}

.btn-xl {
    border-color: #ff00a4;
    background-color: #ff00a4;
 }

.navbar-default .nav li a {
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #fff;
}

section h3.section-subheading.text-muted {
      color: #333;

}

section h3.section-subheading {
	color: #fff;
}

.navbar-default {
    	background-color: #f10ba0;
}

@media(min-width:768px) {
	.navbar-default {
    	background-color: transparent;
	}
}

.navbar-default .navbar-toggle {
    border-color: #11138a;
    background-color: #11138a;
}

.navbar-default.navbar-shrink {
 background-color: #f10ba0;
}

section#contact {
	background-color: #11138a;
	background-image: none;
}

.navbar-default .nav li.menu-social {
	padding: 10px 10px 10px 10px;
}

.navbar-default .nav li.menu-social a {
	padding-top: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: inherit;
    outline: 0;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(255, 0, 164, .9);
}

a:hover, a:focus {
    color: #f10ba0;
}

.btn-primary {
    border-color: #f10ba0;
    background-color: #f10ba0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f10ba0;
    color: #fff;
    background-color: #f10ba0;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f10ba0;
    color: #fff;
    background-color: #f10ba0;
}

body {
    webkit-tap-highlight-color: #ff00a4;
}


::selection {
    background: #ff00a4;
}