.navbar-default .nav li a {
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #fff;
}

section h3.section-subheading.text-muted {
      color: #333;

}

section h3.section-subheading {
	color: #fff;
}

.navbar-default {
    	background-color: #f10ba0;
}

@media(min-width:768px) {
	.navbar-default {
    	background-color: transparent;
	}
}

.navbar-default .navbar-toggle {
    border-color: #11138a;
    background-color: #11138a;
}

.navbar-default.navbar-shrink {
 background-color: #f10ba0;
}

section#contact {
	background-color: #11138a;
	background-image: none;
}

.navbar-default .nav li.menu-social {
	padding: 10px 10px 10px 10px;
}

.navbar-default .nav li.menu-social a {
	padding-top: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: inherit;
    outline: 0;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}